body {
  max-width: 1280px;
  margin: 0 auto;
}

.popular-foods img {
  width: 250px;
  border-radius: 0.7rem;
}

.footer-links a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

a {
  color: black;
}

a:hover {
  color: coral;
}

.active {
  color: white;
  font-weight: 600;
  background-color: black;
  border-radius: 3px;
  padding: 0 0.5rem;
  transition: 500ms ease-in-out;
}

.active:hover {
  color: wheat;
}
